.App {
  text-align: center;
}
.pigpink {
  margin: 0;
  color: #FFC0CB;
}
.imgbox {
  background-size: cover;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  background-image: url("https://cdn.discordapp.com/attachments/355381910937141249/601486774035808256/pigdrawingbackground.jpg");
}